# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. ggplot2

|Data Science Tools                                        |
|:-                                                        |
|Python, R, Julia, SQL                                     |
|Pandas, dplyr, tidyr, SQL                                 |
|Matplotlib, Seaborn, ggplot2, Tableau, Power BI           | 
|SQLite, MySQL, PostgreSQL, MongoDB                        |
|Git, GitHub, GitLab, Bitbucket                            |
|Jupyter Notebooks, RStudio, VS Code with Jupyter extension|
|Visual Studio Code, PyCharm, RStudio, JupyterLab          |
|Scikit-learn, TensorFlow, PyTorch, Keras, caret           |

### Below are a few examples of evaluating arithmetic expressions in Python
- **Addition (+):**
  - Example: \( 3 + 5 = 8 \)

- **Subtraction (-):** 
  - Example: \( 9 - 4 = 5 \)

- **Multiplication (*):** 
  - Example: \( 6 \times 7 = 42 \)

- **Division (/):**
  - Example: \( 15 / 3 = 5 \)

<!--- This a simple arithmetic expression to mutiply then add integers -->

In [6]:
(3*4)+5

17

<!---his will convert 200 minutes to hours by diving by 60 -->

In [8]:
min=int(input("Enter time in minutes"))
hour=min//60
min=min%60
print("Hours=",hour)
print("Minutes=",min)

Enter time in minutes 200

Hours= 3
Minutes= 20

**Objectives:**
- Text formating
- Documentation
- Mathematical Expressions

**List popular languages for Data Science**
- Python
- R
- SQL

## Author:  
Yazhini